
/* Tip styles -------------------------------------------------*/
.tiptasks-anchor{
	position: relative;
	float: right;
}

.tiptasks-wrapper{
	display:block;
	position: absolute;
	left: -48px;
	top: 0;
	z-index: 10000;
	background: url(pencil_48.png) no-repeat 0 0px;
}
.tiptasks-wrapper:hover{
	background: url(pencil_48.png) no-repeat 0 0px;
}


.tiptasks-wrapper.collapsed{
	overflow: hidden;
	width: 48px;
	height: 48px;
	z-index: 1;
}

.tiptasks-wrapper a.trigger{
	width: 48px;
	height: 48px;	
	display: block;
	float:left;
}

/* Menu styles -------------------------------------------------*/
ul.tasks, ul.tasks ul{
	margin: -5px 54px 0;
	padding: 0;
	list-style: none;
	list-style-image: none; /* damn IE */
	background-color: transparent;
	border: 0;
	white-space: nowrap;
}

ul.tasks ul{
	margin: 0 0 5px;
	padding: 0 14px;
}

ul.tasks li{ 
	display: block; 
	padding: 0;
	border: 0;
	list-style-type: none;
	list-style-image: none; /* damn IE */
}

ul.tasks li a, 
ul.tasks li:hover li a{
	display:block;
	margin: 0;
	border: 0;
	background: transparent;
	padding: 10px 30px 10px 20px; 
	background: url(bg.jpg) #f3f3f3 repeat-x 0 0;
	border-bottom: 2px solid transparent;
}

ul.tasks li:hover a, 
ul.tasks li:hover li:hover a, 
ul.tasks li a.active:hover{
	background-color: #FFF;
	background-position: 0 -100px;
	border-color: transparent;
}

ul.tasks li a.active, ul.tasks li a.active:link{
	background: url(bg.jpg) #FAFAFA repeat-x 0 -100px;
}

ul.tasks li ul{
	display: none;
}
ul.tasks li:hover ul{
	display: block;
}


ul.tasks li.expanded{
	position:relative;
}

ul.tasks li.expanded ul{
	position: absolute;
	right: 100%;
	top: 0;
}

